@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}
