.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 0 0 15px 0;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  .receiverInfo {
    padding: 20px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    .receiverName {
      font-family: 'Roboto';
    }
  }

  .messagesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
  }

  .inputContainer {
    padding-left: 8px;
  }
}

.loaderWrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
